<div class="popup-wrapper">
  <app-header
    [isSoundEnabled]="isSoundEnabled()"
    (toggleSound)="toggleSound()"
    (openSettings)="toggleSettings()"
    (reset)="resetTracker()"
  />

  <main class="content">
    @if (shouldShowTracker()) {
      <app-active-center />
    } @else {
      <app-unsupported-center />
    }
  </main>

  @if (isSettingsOpen()) {
    <app-settings-modal (closeModal)="isSettingsOpen.set(false)" />
  }

  @if (showTabClosedModal()) {
    <app-tab-closed-modal (closeModal)="dismissTabClosedModal()" />
  }
</div>
