
.popup-wrapper {
  display: flex;
  flex-direction: column;
  min-height: var(--popup-min-height);
  background-color: var(--bg-app);
}

.content {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
